.root {
    padding: 0;
    padding-top: 64px;
}

.title {
    margin-bottom: 14px;
    font-weight: 600;
    padding-left: 32px;
}
.boxEvents {

    img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 296px;
    height: 150px;
    }
}