.container {
  display: flex;
  align-items: center;
}
.navItem {
  padding: 0 14px 6px 14px;
  margin-right: 0;
  p {
    font-size: 10px;
    margin: 0;
  }
}
.navLogoName {
  font-size:18px;
  font-weight:700;
}
.iconNav {
  font-size:18px;
  margin-right:8px;
}
.navbarWrapper {
  background-color: var(--violet-transparent-color);
  z-index: 1000;
}
.navbarWrapperViolet {
  background-color: var(--primary-color);
  z-index: 1000;

}
.navWrapperMenu {
  display: flex;
  align-items: center;
}

.dropdownItem {
  position: relative;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: 2px;
  }
  a {
    color: var(--text-color) !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:500;
  }
  @media only screen and (max-width: 991px) {
    a {
      color: #ffff !important;
    }
  }
}
.headerTitle {
  color: var(--orange-color) !important
}
.navMobile {
  @media only screen and (max-width: 991px) {
    margin-bottom: 16px;
  }
}
.collapseMobile::before {
  @media only screen and (max-width: 991px) {
    background: var(--linear-second-color) !important;
  }
}