.imgHeader {
    min-height: 55vh;
}

.titleBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    > div {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    h1 {
        font-size: 32px;
    }
    .divider {
        width: 80%;
        height: 3px;
        background-color: #cccc;
    }
    p {
        padding: 32px;
    }
}

.layoutBtn {
    width: 100%;
    margin: 0 !important;
    margin-right: 16px;
    font-weight: 700;
    svg {
        color: #ffff;
        font-size: 14px;
        margin-right: 8px;
    }
}

.rowResult {
    margin-top: 10px;
}

.resultFound {
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        font-weight: 700;
        color: var(--violet-color);
        margin:0;
        span {
            margin-left: 8px;
            color: var(--orange-color);
        }
    }
}
.resultContainer {
    display: flex;
    align-items: center;
    h5 {
        font-weight: 700;
        color: var(--violet-color);
        margin:0;
        margin-right: 8px;
    }
}

.dropDownResult {
    margin-right: 8px;
    .viewResult {
        background-color: #ffff !important;
        border: 1px solid var(--violet-color);
        color: var(--violet-color) !important;
        margin: 0;
        border-radius: 15px;
        padding: 5px 15px;
        span {
            margin-right: 4px;
            font-size: 1.3em;
            font-weight:700;
        }
    }
}

.rowResultBody {
    margin-top: 20px;
    @media only screen and (max-width: 768px) {
        display: inline;
        margin-left: 0;
        margin-right: 0;
      }
    .btnResetWrapper {
        @media only screen and (max-width: 768px) {
            max-width: 100%;
            margin: 24px 0;
            button {
                width: 100%;
            }
          }
    }
}
.listTours {
    @media only screen and (max-width: 768px) {
        max-width: 100%;
      }

}
.rowGridView {
    // display: none;
    @media only screen and (max-width: 768px) {
        display: block;
      }
}
.resultDesktop {
    @media only screen and (max-width: 768px) {
        display: none;
      }
}
.resultMobile {
    @media only screen and (min-width: 1024px) {
        display: none;
      }
      @media only screen and (max-width: 768px) {
        display: block;
      }
}
.btnLayoutWrapper {
    padding:0 32px 16px 32px;
    button:first-child {
        margin-bottom: 16px !important;
    }
}
.colResultMobile {
    @media only screen and (min-width: 600px)  and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .resultFindMobile {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        h5{
            font-weight: 700;
            color: var(--violet-color);
            margin-bottom: 0;
            span {
                color: var(--orange-color);
            }
        };
        @media only screen and (max-width: 500px) {
            margin-right:0;
            margin-bottom: 16px;
        }
    }
    .viewResultPageMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        h5 {
            font-weight: 700;
            color: var(--violet-color);
            margin-bottom: 0;
            margin-right: 8px;
        }
    }
}
.colBtnLayout {
    @media only screen and (max-width: 768px) {
        display: none;
      }
}

.btnResetOption {
    font-weight: 700;
    text-transform: uppercase;
    svg {
        font-size: 16px;
        margin-right: 4px;
    }
}



.pigination {
    display: flex;
    justify-content: end;
    margin-top: 32px;
}