.root {
    padding: 18px;
}

.cardItem {
    margin: 0;
}
.box {
    padding: 8px;
}
.noteEnterLanguage {
    margin-bottom: 16px;
    svg {
        margin-right: 8px;
    }
    span {
        font-size: 12px;
        font-weight: 600;
    }
}
.informationContainer {
    @media only screen and (max-width: 768px) {
        margin-top: 16px;
        .containerBox {
            margin-top: 32px;
        }
      }
}
.noteTipRecipient {
    padding: 0 16px 8px 16px;
    svg {
        margin-right: 8px;
    }
    span {
        font-size: 12px;
        font-weight: 600;
    }
}

.noteGreen {
    padding: 8px;
    background: #e7fde9;
    p {
        margin:0;
        font-size: 12px;
        font-weight: 600;
        span {
            color: #a30000;
        }
    }
}
.containerToggle {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.boxToggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
        font-size: 14px;
        margin-right: 16px;
        font-weight: 600;
    }
}

.btnBook {
    margin-left: auto;
}
.deposit {
    margin: 0 !important;
    padding-top: 16px;
    display: block;
}
.row {
    @media only screen and (max-width: 768px) {
        margin: 0 !important;
        padding-top: 16px;
        display: block;
      }
}

.colInfor {
    @media only screen and (max-width: 768px) {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
}
.noteTipDeposit {
    margin-left: 16px;
    @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
}