.root {
    p{
        margin: 0;
        font-size: 14px;
    }
    span {
        font-size: 14px;
    }
}

.boxDetailTour {
    margin-top: 16px;
    p {
        font-weight: 700;
    }
    .note {
        font-weight: 500;
        margin-top: 8px;
    }
    span {
        color: var(--orange-color);
        font-weight: 700;
    }
    .changeChoice {
        margin-top: 16px;
        color: var(--violet-color);
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.boxCostSummary {
    margin-top: 16px;
    p {
        font-weight: 700;
        >span {
            color: var(--orange-color);
            font-weight: 700;
        }
    }
    span {
        font-weight: 500;
    }
    .price {
        font-size: 20px;
        >span {
            font-size: 20px;
        }
    }
}

.boxPrice {
    margin-bottom: 8px;
}
.boxTip {
    margin-top: 16px;
    .tip {
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        svg {
            margin-top: 4px;
            margin-right: 4px;
            color: var(--green-color);
        }
        p {
            font-weight: 500;
        }
        @media only screen and (max-width: 768px) {
            justify-content: flex-start;
          }
    }
}
