.containerBestSeller {
    background-image: url("../../../../assets/img/backgroundseller.webp");
}
.titleSection {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.divider {
    margin-left: 0;
    border: 2px solid var(--text-color);
    margin: 10px 0;
}
.card {
    min-height: 418px;
}
.locationBox{
    display: flex;
    align-items: center;
    svg {
        margin-right: 4px;
        color: var(--primary-color);
    }
    .location {
        color: var(--primary-color);
        margin-bottom: 0;
    }
}
.priceWrapper {
    margin-bottom: 12px;
    .price {
        margin-top: 8px;
        color: #d3d1d1;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 16px;
        text-decoration: line-through;
    }
    .priceDiscount {
        margin-top: 8px;
        color: var(--orange-color);
        font-weight: 700;
        margin-bottom: 0;
        font-size: 16px;
        span {
            font-size: 12px;
        }
    }
}
.titleCard {
    color: var(--orange-color);
    font-weight: 600;
    margin: 4px 0 !important;
    span {
        font-size:12px;
    }
}

.textDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.titleSwiper {
    font-weight: 600;
    color: var(--text-color);
    padding-top: 24px;
}
.swiperBestSeller {
    padding: 0px 12px !important;
    [class~="swiper-slide"] {
        cursor: pointer;
    }
    [class~="swiper-button-prev"] {
        left: 4px;
        top: 168px;
    }
    [class~="swiper-button-prev"]:after {
        font-size: 12px;
        color: var(--primary-color);
        font-weight: 700;
        background-color: var(--white-color);
        padding: 8px 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--bui-shadow-100);
    }
    [class~="swiper-button-next"] {
        right: 4px;
        top: 168px;
    }
    [class~="swiper-button-next"]:after {
        font-size: 12px;
        color: var(--primary-color);
        font-weight: 700;
        background-color: var(--white-color);
        padding: 8px 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--bui-shadow-100);
    } 
    [class~="swiper-pagination"] {
        display: none;
    }
}
.swiper {
    [class~="swiper-button-prev"] {
        top: 150px;
    }
    [class~="swiper-button-prev"]:after {
        font-size: 12px;
        color: var(--primary-color);
        font-weight: 700;
        background-color: var(--white-color);
        padding: 8px 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--bui-shadow-100);
    }
    [class~="swiper-button-next"] {
        top: 150px;
    }
    [class~="swiper-button-next"]:after {
        font-size: 12px;
        color: var(--primary-color);
        font-weight: 700;
        background-color: var(--white-color);
        padding: 8px 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--bui-shadow-100);
    }
}

.rateBox {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--primary-color);
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}