
.cardItem {
    p {
        color: #ffff;
        margin: 0;
    }
    
    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}
.stopCard {
    cursor: not-allowed !important;
    padding: 48px 20px 20px 20px !important;
}
.cardImage{
    img {
        cursor: pointer;
        transform: scale(1);
        transition: all 0.3s ease-out;
    }
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-out;
}

.cardImage:hover {
    img {
    transform: scale(0.97) translateY(-4px);
    }
    transform: scale(0.97) translateY(-4px);
}

.btnControlCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.cardBody {
    position: relative;
    padding: 48px 20px 20px 20px !important;
}
.discountWrapper {
    position: absolute;
    top: 6px;
    right: 0;
    min-width: 40px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 216, 64, 0.9);
    margin-bottom: 16px;
    padding:0 16px;
    border-radius: 2px;
    .percent {
        color: #ee4d2d;
        font-size: 16px;
        font-weight: 700;
        margin-right: 8px;
    }
    .discount {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
    }
}

.stopWorking {
    position: absolute;
    top: 6px;
    right: 0;
    min-width: 40px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 16px;
    border-radius: 2px;
    background-color: var(--gray-40) !important;
    margin-bottom: 16px;
    z-index: 10;
    .stop {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        margin-right: 8px;
    }
}

.noDiscount {
    display: none;
}


.tags {
    margin-top: 8px;
}

.btnView {
    &[class~=disabled] {
        color: #ffff !important;
    }
}