.cardItem {
    margin: 0;
}
.box {
    padding: 8px;
}
.noteEnterLanguage {
    svg {
        margin-right: 8px;
    }
    span {
        font-size: 12px;
        font-weight: 600;
    }
}

.noteGreen {
    padding: 8px;
    background: #e7fde9;
    p {
        margin:0;
        font-size: 12px;
        font-weight: 600;
        span {
            color: #a30000;
        }
    }
}

.boxCheckbox {
    padding: 16px;
}

.btnBook {
    margin-left: auto;
}