.privacy-policy-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    color: black;
    font-weight: bold;
    p {
        font-weight: 500;
    }      
}

.footer-link-button {
    font-weight: normal;
}

.footer-link-button:hover {
    cursor: pointer;
}

.privacy-description {
    color: black !important;
}