html,
:root {
  --white-color: #ffff;
  --violet-transparent-color:rgba(54,19,84,.85);
  --violet-color: #350a4e;
  --warning-color: #f2bb2e;
  --warning-text-color: #9b6907;
  --purple-color: #b69cc4;
  --violet-light-color:#4a1a67;
  --violet-dark-color:#2c0a42;
  --text-color: #9A9A9A;
  --orange-color: #fa9e1b;
  --green-color: #7c9911;
  --green-dark: #bbe22d;
  --danger-color: #af1c10;
  --orange-light-color: #e7a64c;
  --linear-primary-color: linear-gradient(to right, rgb(250, 158, 27), rgb(141, 79, 255));
  --linear-second-color: linear-gradient(#650eb6 0%, #000 80%);
  --eerie-black-5:#1c1c1c0d;
  --eerie-black-40: #1c1c1c66;
  --eerie-black-20: #1c1c1c33;
  --eerie-black-65: #1c1c1ca6;
  --gray-40: #A4A4A4;
  --gray-90: #dad4d4;
  --blue-color: #1f61a9;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--violet-light-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--violet-light-color); 
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;  
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
