.blockquote {
    border-color: var(--orange-color) !important;
    color: var(--orange-color) !important;
    small {
        color: var(--orange-color) !important;
        font-weight: 700;
    }
}

.nameTour {
    color: var(--violet-color) !important;
}   

.price {
    color: var(--orange-color) !important;
}

.badgeTags {
    color: var(--violet-color) !important;
    margin-left: 8px;
}
.businessHours {
    color: var(--violet-color) !important;
    font-size: 20px;
    font-weight: 600 !important;
}

.description {
    width: 100%;
}