.navbarContainer {
    background: var(--violet-transparent);
}

.container {
    display: flex;
}
.navBrand {
    font-size: 22px !important;
    font-weight: 700;
}

.navDivider {
    display: flex;
    align-items: center;
}
.divider {
    width:1px;
    height:20px;
    background:white;
}

.mediaContainer {
    span {
        color: #fff;
    }
}
.dropdownToggle {
    display: flex;
    justify-content: center;
    span {
        margin-left:5px;
    }
}
.imageAvatar {
    border-radius: 50%;
}

.mediaName{
    margin-right: 16px;
}

.headerItem {
    padding:8px 16px;
}

.headerTitle {
    font-size: 10px;
    font-weight: 600;
    color: var(--orange-color);
    margin: 0;
    margin-right: 16px;
}

.itemDropDown {
    position: relative;
}

.itemDropDown:hover .menuLanguages{
    display: block;
}

.menuLanguages {
    position:absolute;
    display: none;
    top: 0;
    left: 155px;
    border-radius: 4px;
    div {
        padding: 12px 24px;
        background-color: #ffff;
    }
}