.root {
    text-align: left;
    font-size:16px;
    & [class~="input-group"] {
      margin: 0;
    }
    &::after {
      content: "" !important;
    }
  }

.input {
  font-size: 16px;
  &::placeholder{
  font-size: 14px;
  }
}
.iconEyes {
  cursor: pointer;
  padding-left: 4px;
  svg {
    color: rgba(121, 119, 119, 0.8);
  }
}

.iconError {
  svg {
    color: var(--danger-color);
  }
}