.headerWrapper {
    background-image: url("../../../assets/img/bg-user.jpg");
    width: 100%;  
    min-height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titleWrapper {
    margin-bottom: 170px;
}