.linkView{
    width: 100%;
    a:hover {text-decoration: none !important;}
}

.boxImg {
    max-width: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.boxLocation {
    display: flex;
    svg {
        margin-right: 8px;
        color: #5E5B5B;
    }
    div {
        p {
            margin: 0;
            color: #5E5B5B;
            font-weight: 500;
            font-size: 12px;
            text-overflow: ellipsis !important;
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            word-wrap: break-word;
        }
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.boxTitle {
    p {
        font-size: 18px;
        color: var(--text-color);
        font-weight: 600;
        margin: 0;
    }
}

.boxReview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-light-color);
    font-weight: 500;
    svg {
        margin-right: 4px;
    }
    .numberOfReviews {
        color: var(--text-color);
    }
}
.boxPrice {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
        font-weight: 500;
        font-size: 14px;
        text-decoration: line-through;
        color: #C4C3C3;
    } 
    p {
        font-weight: 500;
        font-size: 18px;
        color: var(--orange-color);
        margin: 0;
    }
}
.boxViewMore {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;    
        color: var(--orange-color);
    }
    svg {
        color: var(--orange-color);
        margin-left: 4px;
    }
}