.titleWrapper {
    display: flex;
    margin: 0;
    h3 {
        text-transform: uppercase;
        color: var(--text-color);
        margin: 0;
    }
}
.title {
    margin: 0;
}
.divider {
    margin-left: 0;
    border: 2px solid var(--text-color);  
    margin: 10px 0;
}